.map__container {
  .leaflet-container {
    width: 100%;
    height: 477px;
  }

  .leaflet-marker-icon:after {
    content: '';
    width: 115%;
    height: 100%;
    opacity: 1;
    left: -5px;
    background-image: url(https://cdn1.iconfinder.com/data/icons/Map-Markers-Icons-Demo-PNG/128/Map-Marker-Marker-Outside-Azure.png);
    position: absolute;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    top: 0;
  }
}

.column--map-section {
  margin-top: 58px;
}

.map-location-info {
  margin: 2px 17px 10px 17px;
  color: gray;
  font-size: 0.9em;
  padding: 0;

  p {
    margin: 0;
  }

  .fa {
    margin-right: 10px;
  }
}